<h2><span class="glyphicon glyphicon-list-alt"></span> Flight List</h2>
<input class="form-control" ng-model="filterItem" placeholder="Search..">
<table class="table table-hover">
	<thead>
		<th>ID</th>
		<th>From</th>
		<th>To</th>
		<th>Date</th>
		<th>Time</th>
		<th>Chair</th>
	</thead>
	<tbody>
		<tr ng-repeat="flight in flights | filter:filterItem">
			<td>{{flight.id}}</td>
			<td>{{flight.from}}</td>
			<td>{{flight.to}}</td>
			<td>{{flight.date}}</td>
			<td>{{flight.time}}</td>
			<td>{{flight.chair}}</td>
		</tr>
	</tbody>
</table>